@{
    ViewBag.Title = "Home Page";
}
<br />
<h3>Hello and welcome to Kim’s Woodworking!</h3>

<br />

<p>
    The purpose of this site is for me to practice my web development skills. Although I have worked on websites in the past, this is my first attempt
    at creating a full website from scratch. The site takes the form of a fictional wood shop that is looking to sell its products online. Everything
    on this site is completely fictional. Buying an item won't actually charge your card or facialte a real world order.
</p>

<br />

<h5>User Roles</h5>

<p>
    A random person visiting the site can:
</p>

<ul>
    <li>View the home page</li>
    <li>View products</li>
    <li>Create an account</li>
</ul>

<br />

<p>An authenticated user can do the following:</p>
<ul>
    <li>Add a product to their cart</li>
    <li>View their cart</li>
    <li>Delete from their cart</li>
    <li>Edit the quantity of an item in their cart</li>
    <li class="text-danger">Place an order from their cart</li>
    <li class="text-danger">View their previous orders</li>
    <li class="text-danger">Change their password and email</li>
</ul>

<br />

<p>An admin to the site can do the following:</p>
<ul>
    <li class="text-danger">Search all orders</li>
    <li class="text-danger">Edit an order</li>
    <li class="text-danger">Change a users password</li>
    <li class="text-danger">Delete and reactivate a user account</li>
    <li class="text-danger">Promote/Demote Site Managers</li>
</ul>

<br />
<p>A Site Manager can do the following</p>
<ul>
    <li>Edit a product</li>
</ul>

<h5>Other Info</h5>

<p>Technologies used in the site.</p>
<ul>
    <li>Front end:  asp.net C# MVC</li>
    <li>Back end : MS SQL Server Database</li>
    <li class="text-danger">Hosted on IIS</li>
</ul>

<br />

<p>Site Security:</p>
<ul>
    <li>Checks for cross site scripting</li>
    <li class="text-danger">Uses data validation for user input.</li>
    <li>Parameterized queries</li>
    <li>Passwords are handled by asp.net Identity, they are not stored in plain text</li>
    <li class="text-danger">Sensitive data like credit cards are encrypted in the database and sent to the server using HTTPS</li>
</ul>

<br />

<p>Areas I know I need to improve in:</p>
<ul>
    <li>Graphic design. The site functions right now but could look much better. </li>
    <li>I'm sure there is so much more. You don't know what you don't know!</li>
</ul>

<br />